@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-inter {
    font-family: "Inter", sans-serif;
}
/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}*/
.swiper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-slide {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 20px, 0 40px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        inset 0 0 0 0 rgba(255, 255, 255, 0.2);
    cursor: grab;
}

.content {
    position: relative;
    display: grid;
    grid-auto-flow: dense;
    grid-template-rows: 2fr 1fr 3fr 1fr;
    gap: 10px;
    height: 100px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    user-select: none;
}

/*booking image*/
/* Grille principale */
#PropertyImage .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes par défaut */
    gap: 16px; /* Espacement entre les images */
}

/*@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(
            3,
            1fr
        ); /* 3 colonnes pour les écrans moyens */
/*    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(
            4,
            1fr
        ); /* 4 colonnes pour les grands écrans */
/*    }
}

/* Styles pour les images */
#PropertyImage .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

#PropertyImage .image-container .absolute {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

#PropertyImage .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Effet au survol */
#PropertyImage .image-container:hover img {
    transform: scale(1.1); /* Zoom au survol */
}

/* Tailles spécifiques pour certaines images */
#PropertyImage .image-container:nth-child(2n) {
    grid-column: span 2; /* Occupe 2 colonnes */
    grid-row: span 2; /* Occupe 2 lignes */
}

#PropertyImage .image-container:nth-child(3n) {
    grid-column: span 1; /* Occupe 1 colonne */
    grid-row: span 2; /* Occupe 2 lignes */
}

#PropertyImage .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes par défaut */
    gap: 16px; /* Espacement entre les images */
}

#PropertyImage .image-container.large {
    grid-column: span 2; /* Occupe 2 colonnes */
}
#PropertyImage .image-container.small {
    grid-column: span 1; /* Occupe 2 colonnes */
}
/* booking image */
